@model CupsApp.Models.Cup

@{
    ViewBag.Title = "AddOrEdit";
    Layout = null;
}

@using (Html.BeginForm(Html.BeginForm("AddOrEdit", "Cups", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return jQuaryAjaxPost(this);", data_restUrl=Url.Action("AddOrEdit","Cups", new { id = 0 }) })))
{

    <div class="row">
        @Html.AntiForgeryToken()
            <hr />
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-10">
                <div class="form-group">
                    @Html.LabelFor(model => model.Capacity, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Capacity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Capacity, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CupType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(model => model.CupType, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CupType, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CountryID, "CountryID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("CountryID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CountryID, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <b class="control-label col-md-2">Select image</b>
                    <div class="col-md-10">
                        @*<img src="@Url.Action("GetImage", new { id = Model.CupImage.CupImgID })" style="margin:10px" height="200" width="200" id="imagePreview" />*@
                        <input type="file" name="imageUpload" accept="image/jpeg, image/png" onchange="ShowImagePreview(this, document.getElementById('imagePreview')" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
